.modal {
    position: fixed;
    top: 20px;
    right: inherit;
    left: 0;
    width:20%;
    height: 30%;
    background: rgba(13, 203, 118, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }