.sigin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292a29;
}

.sigin-form {
    width: 400px;
    padding: 40px;
    background-color: #121111;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.sigin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #141414;
    color: black;
}

.sigin-form-button {
    background-color: #39b47a;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}